//$body-bg: #adfcde;
//$primary: #adfcde;
$secondary: #adfcde;
$green: #67ff00;
$blue: #14b7e3;
$purple: #b623fa;
$orange: #e35b14;
$yellow: #fbf417;

//:root{
//  --bs-primary: #adfcde;
//  green:
//}

$fa-font-path: "./fontawesome/webfonts";